.main {
  display: flex;
  justify-content: right;
  align-items: end;
  height: 100vh;
  width: 100vw;
  background: #00f;

}

.image {
  position: relative;
  width: 500px;
  max-width: 100vw;
  height: auto;
}